nav{
    width: 100%;/*ancho de caja*/
    height: 50px;/*alto de caja*/
    background-color: #ff8282;
    padding-top: 10px;
    padding-left: 25px;
    
}
footer{
     width: 100%;/*ancho de caja*/
    height: 50px;/*alto de caja*/
    background-color: #ff8282;
    padding-top: 10px;
    padding-left: 25px; 
    color: #ffffff;
    font-size: 30px;
    margin-right: 50px;
}